Dictionaries

1. Fetching or removing elements are done with the help of name of the key and not the index value

2. Slicing is not supported in Dict

In [2]:
receipt={'coke':50,'cake':450,'chips':20} #{key:value}

In [3]:
print(receipt)

{'coke': 50, 'cake': 450, 'chips': 20}

In [4]:
type(receipt)

dict

In [5]:
att={1:'Aditya',2:'Chirag',3:'Kunal',4:'Suman'}

In [6]:
print(att)

{1: 'Aditya', 2: 'Chirag', 3: 'Kunal', 4: 'Suman'}

In [7]:
type(att)

dict

In [8]:
#adding a new pair in dict - which will be added at the end of the dict
receipt['water bottle']=200

In [9]:
print(receipt)

{'coke': 50, 'cake': 450, 'chips': 20, 'water bottle': 200}

In [10]:
att[5]='Zoya'

In [11]:
print(att)

{1: 'Aditya', 2: 'Chirag', 3: 'Kunal', 4: 'Suman', 5: 'Zoya'}

In [12]:
#remove an existing pair from dict - we use name of the key for this
receipt.pop('chips')

20

In [13]:
print(receipt)

{'coke': 50, 'cake': 450, 'water bottle': 200}

In [14]:
att.pop(3)

'Kunal'

In [15]:
#fetching elements - one at a time by using name of the key
receipt['water bottle']

200

In [16]:
att[5] #5 is not the index value but it is the name of the key

'Zoya'

In [17]:
#merging two lists to form one dictionary
l1=['name','salary','city','age'] #l1 list contains all the keys of the dict
l2=['bob',25000,'NY',23] #l2 list contains all the values of the dict

In [22]:
data=dict(zip(l1,l2))

In [23]:
print(data)

{'name': 'bob', 'salary': 25000, 'city': 'NY', 'age': 23}

1. Add a new pair => 'job':'developer'
2. Remove the 'salary' pair
3. Fetch the 'age' of Bob

In [24]:
data['job']='developer'

In [25]:
data.pop('salary')

25000

In [26]:
print(data)

{'name': 'bob', 'city': 'NY', 'age': 23, 'job': 'developer'}

In [27]:
data['age']

23

In [28]:
#merging two or more dict together to form one single dict
receipt={'coke':50,'cake':450,'chips':20}
att={1:'Aditya',2:'Chirag',3:'Kunal',4:'Suman'}

**

Tuples

In [29]:
t=('india',23,26,'usa',25.90,12.56)

In [30]:
print(t)

('india', 23, 26, 'usa', 25.9, 12.56)

In [31]:
type(t)

tuple

In [32]:
t[3]

'usa'

In [33]:
t[3:]

('usa', 25.9, 12.56)

In [34]:
t[:-2]

('india', 23, 26, 'usa')

In [35]:
t[0]='China'

TypeError: ignored

In [38]:
t.pop(2)

AttributeError: ignored

In [37]:
t.remove('india')

AttributeError: ignored

Sets

1. Indexing is not supported
2. Slicing is not supported
3. Item assignment is not possible
4. We cannot update(add/remove/replace) elements of Sets

In [41]:
s={12,10,'India',35,50,55.55,'USA','China',20.10,45.30}

In [42]:
print(s) #random shuffling

{35, 'USA', 10, 12, 45.3, 'India', 50, 'China', 20.1, 55.55}

In [43]:
s[0]

TypeError: ignored

In [45]:
s[1:4]

TypeError: ignored

In [46]:
s[0]='aashutosh'

TypeError: ignored