Create a function which will take name and age of a person as input and display the name of the person

In [3]:
def func(name, age):

  print("Name of the person is",name)

In [4]:
func('Aashutosh',28)

Name of the person is Aashutosh

Create a function which takes name and salary as input. Display the salary of the person

If salary of the person is not given then take 10000 as the default salary

In [8]:
def info(name, salary=10000):

  print("salary of the person is ",salary)

In [9]:
info('ram',)

salary of the person is  10000

In [12]:
info('shyam',25000)

salary of the person is  25000

In [18]:
def data(salary=30000,name='ankesh'):

  print('name of the person is ',name)

In [22]:
data()

name of the person is  ankesh

Types of Arguments:

1. Arbitrary Arguments
2. Keyword Arguments
3. Arbitrary Keyword Arguments

In [23]:
#arbitrary arguments

def func(*child):
  print("youngest child is", child[2])

In [24]:
func('Ram','Shyam','Meera','Raghu')

youngest child is Meera

In [25]:
func('Michel','George','Mike')

youngest child is Mike

In [26]:
func('Ram','Shyam','Meera','Raghu','Michel','George','Mike')

youngest child is Meera

In [27]:
#keyword arguments

def func_2(child3,child1,child2):

  print("Youngest child is", child3)

In [28]:
func_2(child1='Ram',child2='Shyam',child3='Govind')

Youngest child is Govind

In [29]:
#Arbitrary Keyword Arguments

def func_3(**names):
  print("His last name is",names['lname'])

In [31]:
func_3(fname='Aashutosh',lname='Mishra')

His last name is Mishra